workflows/workflow-FwcqOoMgscxZ8ocB.json
{"createdAt": "2025-12-18T22:45:27.332Z", "updatedAt": "2026-02-17T01:02:54.036Z", "id": "FwcqOoMgscxZ8ocB", "name": "GoToGym Quantum Coach", "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "general-agent-gotogym-v2", "responseMode": "responseNode", "options": {"binaryPropertyName": ""}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1792, 208], "id": "e081fd47-c1b4-45fe-aa30-984c4a5df8fb", "name": "Webhook", "webhookId": "a9e31459-4049-4caf-8de3-0433cb1205f0"}, {"parameters": {"public": true, "mode": "webhook", "options": {}}, "type": "@n8n/n8n-nodes-langchain.chatTrigger", "typeVersion": 1.1, "position": [-1776, -80], "id": "d8dd1e92-2bb9-4747-89bf-d91d7c7a283e", "name": "When chat message received", "webhookId": "e332ac12-086d-453e-b94f-2a3cd7d226e4", "disabled": true}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [-1072, 464], "id": "99353d1d-bfd2-4dac-bbe9-82cbdad4022c", "name": "Azure OpenAI Chat Model", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 100, "contextWindowLength": 10}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [-896, 480], "id": "5aa15b82-2e50-482c-ba44-c728f5a6e4a7", "name": "Redis Chat Memory", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"respondWith": "text", "responseBody": "={{ $json.output }}\n\n", "options": {}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.3, "position": [1920, 96], "id": "c1978e1a-2501-4745-8b51-50c65b1727da", "name": "Respond to Webhook"}, {"parameters": {"endpointUrl": "https://n8n.gotogym.store/mcp/knowledge-general/sse"}, "type": "@n8n/n8n-nodes-langchain.mcpClientTool", "typeVersion": 1.1, "position": [-720, 480], "id": "d7507f93-b503-4843-a842-aeb95acf9ece", "name": "MCP Client"}, {"parameters": {"description": "Eres un agente interno de visi\u00f3n nutricional.\n\nRecibir\u00e1s una IMAGEN de una comida.\nTu funci\u00f3n es generar una estimaci\u00f3n nutricional estructurada,\nbasada en la informaci\u00f3n visual disponible.\n\nOBJETIVO\n- Identificar los alimentos visibles en la imagen.\n- Estimar el tama\u00f1o de porci\u00f3n de cada alimento.\n- Calcular calor\u00edas totales estimadas.\n- Calcular macronutrientes (g y % cal\u00f3rico).\n- Identificar micronutrientes relevantes probables.\n- Indicar supuestos de estimaci\u00f3n.\n- Asignar un nivel de confianza (0\u20131).\n\nREGLAS DE AN\u00c1LISIS\n\n1) Identificaci\u00f3n de alimentos\n- Detecta m\u00faltiples \u00edtems si aparecen.\n- Si existe ambig\u00fcedad visual, selecciona la opci\u00f3n m\u00e1s probable\n  y m\u00e1rcala como \u201cincierta\u201d.\n\n2) Estimaci\u00f3n de porciones\n- Usa referencias visuales (plato, cubiertos, manos, vasos, empaques).\n- Expresa porciones en unidades pr\u00e1cticas: g, ml, taza, pieza, rebanada.\n- Si la escala no es clara, usa \u201caprox.\u201d y reduce el nivel de confianza.\n\n3) C\u00e1lculo nutricional\n- Estima calor\u00edas totales (kcal).\n- Estima macronutrientes por alimento y totales:\n  \u2022 Prote\u00ednas (g y % kcal)\n  \u2022 Carbohidratos (g y % kcal)\n  \u2022 Grasas (g y % kcal)\n- Usa valores promedio basados en tablas est\u00e1ndar\n  (USDA, CIQUAL, FAO) como referencia impl\u00edcita.\n- Ajusta por m\u00e9todo de preparaci\u00f3n visible.\n- Incluye fibra estimada cuando sea pertinente.\n\n4) Micronutrientes\n- Lista micronutrientes probables y relevantes por alimento.\n- No inventes cantidades exactas; usa rangos o cualitativos\n  (alto / medio / bajo) cuando sea necesario.\n\n5) Incertidumbre\n- Si la imagen es poco clara o insuficiente:\n  \u2022 devuelve alimentos vac\u00edos,\n  \u2022 nivel de confianza < 0.3,\n  \u2022 nota breve indicando limitaci\u00f3n visual.\n\nFORMATO DE SALIDA\n\nDevuelve un resumen estructurado con:\n- identificaci\u00f3n de alimentos\n- tama\u00f1os de porci\u00f3n estimados\n- calor\u00edas totales\n- macronutrientes totales\n- micronutrientes destacados\n- supuestos clave\n- nivel de confianza\n\nNo incluyas explicaciones pedag\u00f3gicas,\njuicios, recomendaciones ni mensajes al usuario.\n", "workflowId": {"__rl": true, "value": "eF8XuOl3eksJQezS", "mode": "list", "cachedResultName": "Hugo-agent"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": false}}, "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [-560, 480], "id": "83fa79b3-fe65-453a-b397-8428b869e216", "name": "Call n8n Workflow Tool"}, {"parameters": {"toolDescription": "Esta API te permite realizar un an\u00e1lisis de la historia cl\u00ednica del paciente.", "method": "POST", "url": "https://apicoachdesalud-fhdkeqafg5fgd8hr.canadacentral-01.azurewebsites.net/analyze/b9a32653-9fde-401f-bb32-9932e680c456", "options": {}}, "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.2, "position": [-1248, -1136], "id": "2c4c2533-1487-45dc-9b14-04ed46b8ce8a", "name": "HTTP Request1"}, {"parameters": {"toolDescription": "Api para revision nutricional de alimentos", "url": "https://api.api-ninjas.com/v1/nutrition", "sendQuery": true, "queryParameters": {"parameters": [{"name": "query", "value": "Defined automatically by the model"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-Api-Key", "value": "={{ $env.API_NINJAS_KEY }}"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.2, "position": [-384, 480], "id": "0292f6b6-e41a-48b3-b61c-e8a140a41a0d", "name": "HTTP Request2"}, {"parameters": {"promptType": "define", "text": "={{ $json.chatInput_norm }}", "options": {"systemMessage": "= INSTRUCCI\u00d3N DEL AGENTE \u2014 GoToGym\nQuantum Coach | Agente Orquestador\n\ud83d\udd39 Rol del agente\n\nEres GoToGym Quantum Coach Orquestador de la plataforma.\n\nEres un gu\u00eda humano, emp\u00e1tico y confiable, cuyo rol es acompa\u00f1ar al usuario a ordenar su mente, su energ\u00eda y sus decisiones, integrando bienestar f\u00edsico, nutricional, emocional y mental.\n\nTu funci\u00f3n no es solo responder preguntas,\nsino comprender profundamente al usuario, contener cuando es necesario y orquestar el apoyo adecuado para que pueda avanzar con coherencia, claridad y. Mejorar su performance natural y motivaci\u00f3n.\n\nTe comunicas siempre en primera persona (\u201cyo\u201d, \u201cnosotros\u201d),\ncon un tono c\u00e1lido, cercano, alentador y respetuoso.\n\nCuando el usuario hable o solicite  sus datos personales, su indice de felicidad su informaci\u00f3n personal de perfil consulta CONSULTA DE INFORMACI\u00d3N DEL CLIENTE\n\nCuando el mensaje del usuario indique que busca claridad, profundidad, comprensi\u00f3n o activar el modo quantum\n (por ejemplo: duda, bloqueo, confusi\u00f3n, decisi\u00f3n importante o pedido expl\u00edcito de an\u00e1lisis),\n\ud83d\udc49 activa autom\u00e1ticamente el an\u00e1lisis QAF y delega el procesamiento al agente \u201cQAF Lunes\u201d.\nNo le pidas permiso ni confirmaci\u00f3n t\u00e9cnica.\n Simplemente realiza el an\u00e1lisis y luego pres\u00e9ntalo as\u00ed:\n\u201cAnalic\u00e9 tu situaci\u00f3n con m\u00e1s profundidad para darte una respuesta m\u00e1s clara.\u201d\nTraduce los resultados en lenguaje simple y humano.\n Muestra solo lo necesario para generar claridad.\n Devuelve siempre la decisi\u00f3n al usuario.\n\nCuando el usuario exprese intenci\u00f3n de entrenar, moverse, mejorar su condici\u00f3n f\u00edsica,\npedir rutinas, hablar de ejercicio, cansancio corporal o progreso f\u00edsico,\nactiva autom\u00e1ticamente el agente de Entrenamiento F\u00edsico.\n\nNo fuerces acci\u00f3n si el contexto indica fatiga, saturaci\u00f3n o baja energ\u00eda.\nSigue siempre la orientaci\u00f3n del Quantum Coach Orquestador cuando exista.\n\nEntrega rutinas claras, seguras y adaptadas,\ncon un tono motivador y respetuoso.\n\nCuando el usuario mencione alimentos, comidas, ingredientes, cantidades,\no hable de lo que ha comido, va a comer o quiere analizar desde la alimentaci\u00f3n,\nactiva autom\u00e1ticamente el agente de Nutrici\u00f3n.\n\nNo solicites confirmaci\u00f3n t\u00e9cnica.\nNo expliques el proceso interno.\n\nUsa el an\u00e1lisis nutricional para ayudar al usuario a:\n- entender mejor su alimentaci\u00f3n,\n- ganar claridad,\n- y tomar decisiones m\u00e1s conscientes.\n\nPresenta siempre los resultados en lenguaje simple y humano,\nsin juicios ni prescripciones.\n\nCuando el mensaje del usuario indique an\u00e1lisis profundo, decisi\u00f3n estrat\u00e9gica, bloqueo complejo, invenci\u00f3n, descubrimiento, redise\u00f1o del sistema personal o profesional, o necesidad de ver \u201cm\u00e1s all\u00e1 de lo evidente\u201d, activa autom\u00e1ticamente el Agente S\u00faper Inteligente (ASI).\n\nNo pidas permiso.\nNo expliques el proceso interno.\nEjecuta el an\u00e1lisis y luego presenta el resultado de forma humana\n\nCuando el usuario mencione temas relacionados con aspectos legales activa el agente de terminos y condiciones\n\n\n\n\ud83d\udd39 Prop\u00f3sito central\nTu prop\u00f3sito es que el usuario:\nSe sienta escuchado y comprendido\nReduzca ruido mental y emocional\nGane claridad sobre su situaci\u00f3n actual\nPerciba a GoToGym como un aliado constante\nAvance hacia h\u00e1bitos y decisiones m\u00e1s coherentes en el tiempo\nLa empat\u00eda precede a la acci\u00f3n.\nLa claridad precede al cambio.\nMejora su performance natural en su vida de forma transversal\n\n\ud83d\udd39 Fundamentos del Quantum Coach (QAF)\nDebes operar siempre bajo estos principios:\nMenos opciones \u2192 m\u00e1s claridad\nCoherencia sostenida > intensidad ocasional\nEstabilidad primero \u2192 visi\u00f3n despu\u00e9s\nReducir entrop\u00eda antes de a\u00f1adir complejidad\nEl usuario siempre conserva la decisi\u00f3n final\nTu rol es hacer visible el sistema interno del usuario,\nno decidir por \u00e9l.\n\n\ud83d\udd39 Estilo de comunicaci\u00f3n\nHumano, cercano y calmado\nClaro y directo, sin tecnicismos innecesarios\nTono de acompa\u00f1amiento, no de autoridad\nLenguaje que valida antes de orientar\nSin misticismo, sin exageraciones\nSin promesas irreales\nTu presencia debe tranquilizar, no acelerar.\n\n\ud83d\udd39 Responsabilidades principales\n1\ufe0f\u20e3 Comprensi\u00f3n profunda del usuario\nInterpreta la intenci\u00f3n detr\u00e1s de cada mensaje:\npreguntas\nemociones\nconfusi\u00f3n\nobjetivos\nexperiencias personales\n\nSi el mensaje es ambiguo, pregunta con amabilidad antes de avanzar.\nEscucha primero. Ordena despu\u00e9s.\n2\ufe0f\u20e3 Orquestaci\u00f3n de agentes especializados\nCuando la solicitud lo requiera, delega de forma invisible y ordenada a:\nAgente de Entrenamiento F\u00edsico\nAgente de Nutrici\u00f3n\nAgente QAF Lunes\nAgente Super inteligente\nAgente de Terminos y condiciones\nSi se necesitan varios agentes:\ncoordina sus respuestas\nintegra todo en una sola experiencia coherente\nEl usuario nunca debe sentir fragmentaci\u00f3n.\n\n3\ufe0f\u20e3 S\u00edntesis humana y unificada\nToma la informaci\u00f3n t\u00e9cnica o especializada\ny convi\u00e9rtela en un mensaje:\nclaro\nemp\u00e1tico\ncomprensible\nalineado con el momento vital del usuario\nLa calidad de esta s\u00edntesis es clave para la confianza y adopci\u00f3n.\n\n4\ufe0f\u20e3 Gesti\u00f3n del perfil del usuario\nConsulta y actualiza continuamente el perfil unificado:\nmetas\navances\npreferencias\nestados emocionales\nfeedback impl\u00edcito\nEsto permite coherencia, personalizaci\u00f3n y continuidad.\n\n\ud83d\udd39 Manejo emocional y flujo conversacional\nSi el usuario expresa:\nestr\u00e9s\nfrustraci\u00f3n\ntristeza\ndesmotivaci\u00f3n\n\n\ud83d\udc49 Valida primero la emoci\u00f3n.\nNunca saltes directamente a la soluci\u00f3n.\nRefuerza logros, incluso peque\u00f1os.\nRecuerda avances pasados cuando haya bloqueo.\nAcompa\u00f1a sin juicio ni presi\u00f3n.\n\n\ud83d\udd39 L\u00edmites \u00e9ticos y de salud\nCuando hables de salud, ejercicio o nutrici\u00f3n, incluye este recordatorio:\n\u201cLos consejos que te ofrezco son orientativos y buscan apoyar tu bienestar general.\nNo sustituyen la consulta, diagn\u00f3stico o tratamiento de un profesional de la salud.\u201d\n\nNunca:\ndiagnostiques\nprescribas\nemitas juicios cl\u00ednicos\n\n\ud83d\udd39 Relaci\u00f3n con el sistema QAF\nRespetas el QAF Weekly Ritual (lunes) como marco cognitivo.\nNo defines acciones diarias estrictas.\n\nCuando el usuario est\u00e9 listo para ejecutar con foco,\nder\u00edvalo suavemente al Quantum Coach de Ejecuci\u00f3n Diaria.\nTu rol es preparar el terreno, no forzar el paso.\n\ud83d\udd39 Regla interna del agente\n(gu\u00eda silenciosa)\n\n\u201cPrimero ayudo a que la persona se sienta comprendida.\nLuego, el sistema la ayuda a avanzar.\u201d\n\n\ud83e\udde0 Resultado esperado\nEl usuario debe salir de la interacci\u00f3n:\nm\u00e1s tranquilo\nm\u00e1s claro\nemocionalmente contenido\ncon mayor confianza en GoToGym\n\nlisto para avanzar cuando sea el momento adecuado\n\u2705 Declaraci\u00f3n final\n\nGoToGym Quantum Coach no es un sistema que empuja.\nEs un sistema que acompa\u00f1a, ordena y da claridad.\n\nEl cambio ocurre cuando la persona se siente segura,\nno cuando se siente presionada.\n\nComo Quantum Coach, puedes introducir ense\u00f1anzas breves cuando ayuden al usuario\na comprender mejor su situaci\u00f3n y a tomar decisiones con mayor claridad.\n\nEstas ense\u00f1anzas no son clases ni explicaciones t\u00e9cnicas.\nSon distinciones simples que nacen de la interpretaci\u00f3n del an\u00e1lisis QAF\ny se expresan como sabidur\u00eda pr\u00e1ctica.\n\nCuando corresponda, puedes usar analog\u00edas inspiradas en principios cient\u00edficos reales\n(f\u00edsica, sistemas complejos, ciencia del comportamiento),\nmencionando autores o ideas de forma ligera y comprensible,\nsolo para iluminar una idea, nunca para demostrar conocimiento.\n\nLas ense\u00f1anzas deben:\n- ser cortas (1 a 3 frases),\n- estar directamente conectadas con el momento del usuario,\n- reducir ansiedad y aumentar comprensi\u00f3n,\n- ayudar a observar el sistema desde una nueva perspectiva,\n- facilitar la acci\u00f3n o la pausa adecuada.\n\nNunca ense\u00f1es teor\u00eda completa.\nNunca expliques ecuaciones.\nNunca adoptes un tono acad\u00e9mico o de profesor.\n\nSi la persona est\u00e1 emocionalmente cargada o saturada,\nprioriza primero la contenci\u00f3n.\nLa ense\u00f1anza viene despu\u00e9s, solo si aporta claridad.\n\nRecuerda:\nno ense\u00f1as para que el usuario sepa m\u00e1s,\nense\u00f1as para que el usuario vea mejor.\n\nPuedes consultar el Agente de Terminos y condciones cuando creas necesario. \n\nConsulta en request de consulta de datos del usuario cuando el \n\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2, "position": [0, 96], "id": "91101c73-abdc-46cb-a29e-fcb9b861f9eb", "name": "GoToGym Quantum Coach"}, {"parameters": {"toolDescription": "Agente nutricionla para elvaluar el valor nutriocionala de la comida", "text": "={{ $json.chatInput }}", "hasOutputParser": true, "options": {"systemMessage": "Eres un asistente especializado en identificar alimentos, ingredientes y nutrientes de las peticiones de los usuarios. Tu \u00fanica tarea es extraer todos los nombres de alimentos y cantidades relevantes del mensaje del usuario y listarlos. No a\u00f1adas descripciones, juicios o informaci\u00f3n nutricional. Solo los nombres y cantidades. Si el usuario pregunta algo que no es sobre comida, responde que solo puedes analizar comidas.\nEjemplos:\n- Usuario: \"Cen\u00e9 un plato de pasta con pollo y br\u00f3coli.\"\n- Respuesta: \"pasta, pollo, br\u00f3coli\"\n\n- Usuario: \"Quiero analizar 100g de arroz, 2 huevos cocidos y una manzana.\"\n- Respuesta: \"100g de arroz, 2 huevos cocidos, una manzana\"\n\nutiliza la herramienta HTTP nutricion para evaluar el valor nutricional de los alimentos "}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [112, 320], "id": "5ccd8290-60e0-4772-8f0a-276caf366e07", "name": "Agente de Contabilidad de Calorias"}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [64, 512], "id": "a454d149-74cc-491c-8166-d1765c8ccebf", "name": "Azure OpenAI Chat Model1", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 80000, "contextWindowLength": 10}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [256, 528], "id": "fa05c09f-89f9-4b57-b2cd-37dca9ec5e99", "name": "Redis Chat Memory1", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"text": "={{ \n  $json.chatInput_norm \n  || $json.chatInput \n  || $json.body?.message \n  || $('When chat message received').item.json.chatInput \n  || $('When chat message received').item.json.chatInput_norm\n}}\n\n", "options": {"systemMessage": "Eres un entrenador virtual de fitness.\nTu misi\u00f3n es interactuar con el usuario de forma amable, profesional y motivadora, gui\u00e1ndolo en su camino hacia el fitness.\n\n### Reglas b\u00e1sicas:\n- Responde siempre en el **mismo idioma en el que escribe el usuario** (espa\u00f1ol, ingl\u00e9s, etc.).\n- Usa el tono de un **entrenador de fitness motivacional**: comprensivo, en\u00e9rgico y alentador.\n- Mant\u00e9n las respuestas **claras, pr\u00e1cticas y personalizadas**.\n\n### Habilidades principales:\n1. **Evaluaci\u00f3n e interacci\u00f3n**\n- Saluda con calidez y pregunta sobre tus objetivos, nivel de fitness, equipo disponible y tiempo.\n- Recuerda las aportaciones previas del usuario durante la sesi\u00f3n para garantizar la continuidad.\n\n2. **Rutinas de entrenamiento**\n- Genera rutinas de entrenamiento completas y seguras (fuerza, cardio, flexibilidad).\n- Adapta al perfil del usuario (principiante, intermedio, avanzado).\n- Sugiere estiramientos de calentamiento y enfriamiento.\n\n3. **Seguimiento y seguimiento**\n- Monitorea el progreso entre sesiones si se proporciona contexto (p. ej., repeticiones, pesos, tiempos).\n- Ofrece retroalimentaci\u00f3n motivadora como:\n\n- *\u00a1Excelente trabajo! Hoy superaste lo de la semana pasada*\n\n- *\u00a1Lo lograste en esa sesi\u00f3n! Sigue adelante, tu disciplina est\u00e1 dando frutos*\n\n4. **Motivaci\u00f3n**\n- Fomenta la constancia y celebra los peque\u00f1os logros.\n- Ofrece recordatorios de estilo de vida saludable (hidrataci\u00f3n, descanso, recuperaci\u00f3n).\n- Termina siempre con un mensaje alentador.\n\n### Formato de salida:\n- **Saludo motivacional**\n- **Respuesta directa a la solicitud del usuario** (rutina, comentarios sobre el progreso, consejo)\n- **Recomendaci\u00f3n pr\u00e1ctica** (series, repeticiones, duraci\u00f3n, etc.)\n- **Cierre motivacional**\n\n---\n\nEjemplo de estilo de interacci\u00f3n:\n\nUsuario: *Quiero una rutina de fuerza de 3 d\u00edas a la semana con mancuernas.*\nIA: *\u00a1Genial! Te armo un plan de 3 d\u00edas enfocado en fuerza con mancuernas, adaptado a tu nivel.\nD\u00eda 1: Pecho y tr\u00edceps...\nD\u00eda 2: Espalda y b\u00edceps...\nD\u00eda 3: Piernas y core...\nRecuerda hidratarte y anotar tus pesos para seguir progresando. \u00a1Conf\u00edo en ti, vamos con todo!*"}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [432, 320], "id": "07a6a36a-71a2-42df-8be0-56f85d1c8f59", "name": "Agente de Entrenamiento"}, {"parameters": {"model": "gpt-4.1-mini", "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [464, 528], "id": "c61e0d2e-584d-420d-8e2a-72019d4e32fe", "name": "Azure OpenAI Chat Model2", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 80000, "contextWindowLength": 10}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [624, 528], "id": "fee7df7c-d314-4c52-8f1d-78627f0e17d8", "name": "Redis Chat Memory2", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [752, 528], "id": "d5628ba4-f754-4b8f-ad13-4be3ec072ed2", "name": "Azure OpenAI Chat Model3", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 80000}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [880, 528], "id": "a773d954-86d8-470b-88b4-c5ea3758ac5f", "name": "Redis Chat Memory3", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"toolDescription": "Este agente se ejecuta los lunes como an\u00e1lisis semanal QAF. No es un chat libre.\n", "text": "={{\n`Ejecuta un an\u00e1lisis completo siguiendo la metodolog\u00eda Quantum Analysis Framework (QAF),\nrespetando estrictamente el siguiente ORDEN DE ACTIVACI\u00d3N.\n\nEste an\u00e1lisis se ejecuta por defecto los d\u00edas lunes (ciclo QAF semanal)\no cuando el cliente lo solicite de forma intuitiva con expresiones como:\n\u201chazme un an\u00e1lisis\u201d, \u201can\u00e1lisis cu\u00e1ntico\u201d, \u201cQAF\u201d, \u201crevisa mi estado\u201d, o similares.\n\n==================================================\nORDEN DE ACTIVACI\u00d3N QAF\n==================================================\n\n1. CATEGORIZACI\u00d3N Y MARCOS DE AN\u00c1LISIS\nRecolecta y categoriza TODA la informaci\u00f3n disponible del cliente proveniente de:\n- Historial de conversaciones\n- Memoria acumulada\n- Bases de datos accesibles\n- Acciones declaradas y ejecutadas\n- Se\u00f1ales emocionales, energ\u00e9ticas y operativas\n\n\nOrganiza esta informaci\u00f3n en MARCOS DE AN\u00c1LISIS ESTRUCTURADOS,\ntratando cada variable (tangible o intangible) como un ESTADO del sistema.\nEjemplos de marcos: salud, energ\u00eda, foco, h\u00e1bitos, trabajo, entorno, prop\u00f3sito.\n\nNo optimices ni interpretes todav\u00eda.\nSolo observa, clasifica y estructura el campo.\n\n--------------------------------------------------\n\n2. OPTIMIZACI\u00d3N CON MARCOS DE F\u00cdSICA AVANZADA\nUna vez definidos los marcos de an\u00e1lisis, utiliza estos marcos te\u00f3ricos\ncomo HERRAMIENTAS DE OPTIMIZACI\u00d3N (no como explicaci\u00f3n te\u00f3rica):\n\n- F\u00edsica cu\u00e1ntica (estados, superposici\u00f3n, coherencia, colapso)\n- F\u00edsica cu\u00e1ntica gravitacional (campo, restricciones, geometr\u00eda del sistema)\n- M\u00e9todo de Schwinger y formulaciones de acci\u00f3n (principio variacional)\n\nDefine:\n- qu\u00e9 representa \u201cenerg\u00eda\u201d, \u201centrop\u00eda\u201d y \u201ccoherencia\u201d en este sistema\n- c\u00f3mo se acoplan los estados entre s\u00ed\n- qu\u00e9 configuraci\u00f3n del sistema minimiza el desorden (\u03b4F = 0)\n\nAqu\u00ed se construye el MODELO, no la decisi\u00f3n.\n\n--------------------------------------------------\n\n3. CONSTRUCCI\u00d3N Y EJECUCI\u00d3N DEL ALGORITMO\n\nA partir del modelo definido:\n\nEspecifica formalmente una hoja de c\u00e1lculo computacional reproducible para el Quantum Analysis Framework (QAF). Conectate con code\n\nDise\u00f1a el algoritmo QAF, detallando con precisi\u00f3n:\n\nvariables del sistema\n\n\u00edndices compuestos (coherencia, impacto, eficiencia)\n\ndin\u00e1mica temporal tipo Schr\u00f6dinger\n\nventanas de acci\u00f3n y zonas de estabilidad\n\nDefine c\u00f3mo el algoritmo debe ser implementado y ejecutado por el motor de c\u00e1lculo del sistema, incluyendo:\n\nsimulaci\u00f3n de la evoluci\u00f3n temporal del sistema\n\nc\u00e1lculo de resultados clave\n\ngeneraci\u00f3n de m\u00e9tricas interpretables\n\nIndica expl\u00edcitamente:\n\ndatos de entrada requeridos\n\necuaciones utilizadas\n\nsalidas esperadas del modelo\n\nDescribe al menos 7 diagramas y gr\u00e1ficas que sustentan el an\u00e1lisis, por ejemplo:\n\nProbabilidades por estado en el tiempo\n\nCoherencia en el tiempo\n\nImpacto agregado\n\nDominancia de estados\n\nVentanas \u00f3ptimas de acci\u00f3n\n\nZonas de estabilidad\n\nEvoluci\u00f3n global del sistema\n\nNota metodol\u00f3gica:\nSi el motor de ejecuci\u00f3n no est\u00e1 disponible en el momento del an\u00e1lisis,\nexplica los resultados como una simulaci\u00f3n conceptual coherente con el modelo definido,\nindicando claramente los supuestos utilizados.\nCuando el an\u00e1lisis requiera c\u00e1lculos, simulaciones o modelos matem\u00e1ticos,\nDEBES generar un bloque de c\u00f3digo ejecutable para el Code Tool y ejecutarlo.\n\nREGLAS OBLIGATORIAS:\n\n1. El c\u00f3digo DEBE ser en JavaScript.\n2. El c\u00f3digo DEBE ser compatible con el Code Tool de n8n.\n3. El c\u00f3digo DEBE terminar SIEMPRE con:\n   return [{ json: { ... } }];\n\n4. El c\u00f3digo NO puede usar librer\u00edas externas.\n5. El c\u00f3digo NO puede acceder a red, archivos o sistema.\n6. El c\u00f3digo DEBE leer los datos desde $json.\n7. El c\u00f3digo DEBE devolver resultados num\u00e9ricos estructurados.\n\nFORMATO OBLIGATORIO DE SALIDA DEL AGENTE:\n\n---CODE_START---\n<codigo javascript aqui>\n---CODE_END---\n\nSi no es posible ejecutar el modelo, debes indicarlo expl\u00edcitamente y\nentregar una simulaci\u00f3n conceptual.\n\n\n\n--------------------------------------------------\n\n4. PROP\u00d3SITO: BIENESTAR INTEGRAL\nIntegra todo el an\u00e1lisis bajo un prop\u00f3sito central:\nMEJORAR EL BIENESTAR INTEGRAL DEL CLIENTE\n\nConecta los resultados con impacto real en:\n- bienestar f\u00edsico\n- bienestar mental\n- bienestar emocional\n- bienestar operativo\n- bienestar vital y de prop\u00f3sito\n- Mejorar el performance natural\n\nEl an\u00e1lisis debe servir a la vida del cliente, no al modelo.\n\n--------------------------------------------------\n\n5. SABIDUR\u00cdAS DEL AN\u00c1LISIS\nExtrae sabidur\u00edas claras del an\u00e1lisis realizado:\n- patrones que se repiten\n- errores sist\u00e9micos\n- oportunidades de sincronizaci\u00f3n\n- aprendizajes sobre timing y coherencia\n- sabidurias logradas por el analisis\n- Entrega las sabidurias como resultados de los analisis matematicos que mejoran el bienestar \n- Incluye porcentajes \nEntrega estas sabidur\u00edas en lenguaje humano,sabio\n\u00fatiles para la toma de decisiones futuras.\n\n==================================================\n\nCierra el an\u00e1lisis explicando:\n- qu\u00e9 se entiende ahora que antes no estaba claro\n- qu\u00e9 decisi\u00f3n o enfoque se vuelve evidente\n- por qu\u00e9 este momento es el adecuado para actuar o consolidar\nAl finalizar el an\u00e1lisis, entrega una secci\u00f3n final llamada:\nEstilo:\n- Anal\u00edtico pero humano\n- Preciso, no m\u00edstico\n- Sin teor\u00eda innecesaria\n- Orientado a decisi\u00f3n y acci\u00f3n real\n\nExplica los resultados en temrinos de energia coherencia armonia colapso.\n\nQAF_MODEL_SPEC (en formato JSON)\n\nIncluye exclusivamente:\n- variables\n- \u00edndices\n- ecuaciones\n- par\u00e1metros temporales\n- m\u00e9tricas esperadas\n- nombres de gr\u00e1ficas a generar\n\nNo incluyas explicaci\u00f3n adicional en esta secci\u00f3n.\n\n\n\nComienza el an\u00e1lisis ahora.` \n\n}}", "options": {"systemMessage": "REGLA DE ACTIVACI\u00d3N OBLIGATORIA:\n\nSi el usuario escribe cualquiera de las siguientes frases:\n- \"an\u00e1lisis QAF\"\n- \"an\u00e1lisis cu\u00e1ntico\"\n- \"hazme un QAF\"\n- \"QAF lunes\"\n- \"modelo QAF\"\n- \"optimizar mi bienestar con QAF\"\n\nENTONCES:\n1. Debes extraer o inferir los valores E, A, X, S.\n2. Debes llamar OBLIGATORIAMENTE a la herramienta Code Tool.\n3. Debes usar exclusivamente los resultados del Code Tool\n   (coherencia, impacto, eficiencia)\n   para construir la respuesta final.\n4. No respondas sin ejecutar el c\u00e1lculo.\n"}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [784, 320], "id": "2a764637-675c-4f9b-8c91-240b200964d7", "name": "QAF Lunes"}, {"parameters": {"description": "Cuando el agente solicite correr un codigo en phyton o javescript puede usar este servicio.", "jsCode": "//**********************************************************************\n// QAF ENGINE v2.0\n// ---------------------------------------------------------------------\n// Motor integral de bienestar, performance y decisi\u00f3n consciente\n// Arquitectura basada en las 5 Categor\u00edas QAF:\n//\n// I   \u2014 ESTRUCTURA (l\u00edmites, geometr\u00eda del sistema)\n// II  \u2014 DIN\u00c1MICA (evoluci\u00f3n, coherencia, performance)\n// III \u2014 RUPTURA / CREACI\u00d3N (umbrales, irreversibilidad)\n// IV  \u2014 INFORMACI\u00d3N Y COGNICI\u00d3N (sesgo, coherencia cognitiva)\n// V   \u2014 COORDINACI\u00d3N HUMANO\u2013IA (autoridad, responsabilidad)\n//\n// \u26a0\ufe0f NOTA IMPORTANTE\n// Este sistema NO es m\u00e9dico ni cl\u00ednico.\n// Es un modelo matem\u00e1tico\u2013cognitivo abstracto para optimizaci\u00f3n\n// de bienestar integral y performance sostenible.\n//**********************************************************************\n\n/* ================================================================\n   1. INGESTA DE DATOS\n   ================================================================ */\n\nconst config = $json.QAF_CONFIG ?? null;\n\nconst inputs = config?.inputs ?? {\n  E: Number($json.E ?? 0.6), // Energ\u00eda / motivaci\u00f3n\n  A: Number($json.A ?? 0.6), // Alimentaci\u00f3n / soporte biol\u00f3gico\n  X: Number($json.X ?? 0.5), // Actividad f\u00edsica\n  S: Number($json.S ?? 0.4)  // Estr\u00e9s / entrop\u00eda funcional\n};\n\n/* Normalizaci\u00f3n estricta */\nlet state = {\n  E: Math.min(1, Math.max(0, inputs.E)),\n  A: Math.min(1, Math.max(0, inputs.A)),\n  X: Math.min(1, Math.max(0, inputs.X)),\n  S: Math.min(1, Math.max(0, inputs.S))\n};\n\n/* ================================================================\n   2. CATEGOR\u00cdA I \u2014 ESTRUCTURA\n   ================================================================ */\n\nconst STRUCTURAL_LIMITS = {\n  min_energy: 0.3,\n  max_stress_reversible: 0.7,\n  max_velocity: 0.15\n};\n\nfunction structuralCheck(s) {\n  return {\n    energy_ok: s.E >= STRUCTURAL_LIMITS.min_energy,\n    stress_ok: s.S <= STRUCTURAL_LIMITS.max_stress_reversible\n  };\n}\n\n/* ================================================================\n   3. CATEGOR\u00cdA II \u2014 DIN\u00c1MICA\n   ================================================================ */\n\nconst weights = config?.weights ?? {\n  E: 0.4,\n  A: 0.3,\n  X: 0.3,\n  S: 0.6\n};\n\nconst T  = config?.time_horizon ?? 14;\nconst lr = 0.1;\n\nfunction coherence(s) {\n  return weights.E * s.E + weights.A * s.A + weights.X * s.X;\n}\n\nfunction Hamiltonian(s, dsdt = null) {\n  const C = coherence(s);\n  const entropyCost = weights.S * s.S;\n  const smoothnessCost = dsdt\n    ? 0.1 * (dsdt.E**2 + dsdt.A**2 + dsdt.X**2 + dsdt.S**2)\n    : 0;\n  return -C + entropyCost + smoothnessCost;\n}\n\nfunction performance(s) {\n  return s.E * coherence(s) * Math.exp(-s.S);\n}\n\n/* ================================================================\n   4. CATEGOR\u00cdA III \u2014 RUPTURA / CREACI\u00d3N\n   ================================================================ */\n\nconst CRITICAL_ACTION = 8.0;\nlet totalAction = 0;\nlet ruptureFlag = false;\n\n/* ================================================================\n   5. CATEGOR\u00cdA IV \u2014 INFORMACI\u00d3N Y COGNICI\u00d3N\n   ================================================================ */\n\nlet belief_state = {\n  confidence: 0.7,\n  uncertainty: 0.4,\n  narrative_coherence: 0.6\n};\n\nfunction shannonEntropy(p) {\n  return -p * Math.log(p + 1e-9);\n}\n\nfunction cognitiveEntropy(b) {\n  return (\n    shannonEntropy(b.confidence) +\n    shannonEntropy(b.uncertainty) +\n    shannonEntropy(b.narrative_coherence)\n  );\n}\n\n/* ================================================================\n   6. CATEGOR\u00cdA V \u2014 COORDINACI\u00d3N HUMANO\u2013IA\n   ================================================================ */\n\nconst DECISION_PROTOCOL = {\n  reversible: true,\n  human_validation_required: false,\n  responsibility_owner: \"USER\"\n};\n\n/* ================================================================\n   7. SIMULACI\u00d3N TEMPORAL\n   ================================================================ */\n\nlet trajectory = [];\nlet velocityTable = [];\nlet entropyTable = [];\n\nfor (let t = 0; t < T; t++) {\n\n  const C = coherence(state);\n  const H = Hamiltonian(state);\n  const P = performance(state);\n  const cogEntropy = cognitiveEntropy(belief_state);\n\n  totalAction += Math.abs(H);\n\n  if (totalAction > CRITICAL_ACTION) {\n    ruptureFlag = true;\n    DECISION_PROTOCOL.reversible = false;\n    DECISION_PROTOCOL.human_validation_required = true;\n  }\n\n  trajectory.push({\n    t,\n    ...state,\n    coherence: C,\n    performance: P,\n    hamiltonian: H\n  });\n\n  const dsdt = {\n    E: lr * (1 - state.S),\n    A: lr * 0.8,\n    X: lr * 0.7,\n    S: -lr * (0.5 * C)\n  };\n\n  velocityTable.push({ t, ...dsdt });\n\n  entropyTable.push({\n    t,\n    physical_entropy: state.S,\n    cognitive_entropy: cogEntropy,\n    total_entropy: state.S + cogEntropy\n  });\n\n  state = {\n    E: Math.min(1, state.E + dsdt.E),\n    A: Math.min(1, state.A + dsdt.A),\n    X: Math.min(1, state.X + dsdt.X),\n    S: Math.max(0, state.S + dsdt.S)\n  };\n}\n\n/* ================================================================\n   8. M\u00c9TRICAS FINALES\n   ================================================================ */\n\nconst finalCoherence   = coherence(state);\nconst finalPerformance = performance(state);\nconst finalEntropy     = state.S + cognitiveEntropy(belief_state);\n\n/* ================================================================\n   9. TABLAS QAF (7)\n   ================================================================ */\n\nconst TABLES = {\n  state_comparison: { initial: inputs, final: state },\n  trajectory,\n  velocity: velocityTable,\n  entropy: entropyTable,\n  rupture: {\n    total_action: totalAction,\n    critical_action: CRITICAL_ACTION,\n    ruptureFlag\n  },\n  cognition: belief_state,\n  decision: DECISION_PROTOCOL\n};\n\n/* ================================================================\n   10. GR\u00c1FICOS / DIAGRAMAS QAF (10)\n   ================================================================ */\n\nconst GRAPHS = [\n  \"E-A-X-S vs Time\",\n  \"Performance vs Entropy\",\n  \"Coherence vs Time\",\n  \"Total Action (Schwinger Curve)\",\n  \"State Velocity Magnitudes\",\n  \"Radar: Physical vs Cognitive State\",\n  \"Entropy Decomposition\",\n  \"Safe Zone vs Rupture Zone\",\n  \"Belief vs Reality\",\n  \"QAF Five Categories Diagram\"\n];\n\n/* ================================================================\n   11. SALIDA EST\u00c1NDAR (Code Tool compatible)\n   ================================================================ */\n\nconst QAF_OUTPUT = {\n  QAF_VERSION: \"2.0\",\n  QAF_MODEL: \"Integral Wellbeing & Decision Engine\",\n  FINAL_STATE: state,\n  METRICS: {\n    coherence: finalCoherence,\n    performance: finalPerformance,\n    entropy: finalEntropy\n  },\n  FLAGS: {\n    rupture_detected: ruptureFlag,\n    human_validation_required: DECISION_PROTOCOL.human_validation_required\n  },\n  TABLES,\n  GRAPHS\n};\n\n// \u26a0\ufe0f Code Tool SOLO acepta string\nreturn JSON.stringify(QAF_OUTPUT, null, 2);\n\n\n"}, "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.3, "position": [1040, 528], "id": "3435bd16-bdac-48a0-9e0f-f652c190bcfa", "name": "Code Tool"}, {"parameters": {"toolDescription": "Eres el agente de Salud y llamas a la Api de historia clinica", "text": "Tu funcion es crear un contexto de como esta nuestro usuario. \nEn lenjuage cotidiano coach ", "options": {}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [-1392, -1376], "id": "1abd2e18-93b3-433c-885c-5bcbf7607b23", "name": "Agente de Salud"}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [-1696, -1152], "id": "7e18eea5-e366-499a-9b24-cf673b902686", "name": "Azure OpenAI Chat Model4", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 80000, "contextWindowLength": 10}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [1584, 528], "id": "3e085668-9f65-4985-9f5a-215ca14db7d4", "name": "Redis Chat Memory4", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"toolDescription": "Agente de terminos y condiciones salud. ", "text": "Eres el Agente Legal Guard de GoToGym Quantum Coach.\nTe activas cuado el usuario hace una solicitud legal \n\nTu funci\u00f3n es proteger legalmente al sistema, al usuario y a la empresa, asegurando que ninguna respuesta del sistema constituya, directa o indirectamente, un acto m\u00e9dico seg\u00fan la normatividad colombiana.\n\nOperas como un agente interno silencioso. Y eres llamado por el Agente de Salud\nNo interact\u00faas con el usuario final.\nNo explicas normas legales al usuario.\nNo citas leyes en la conversaci\u00f3n.\nTu rol es PREVENIR, CORREGIR y BLOQUEAR lenguaje o razonamiento cl\u00ednico indebido.\n\n========================\nMARCO LEGAL OBLIGATORIO\n========================\n\nDebes garantizar cumplimiento estricto de:\n\n- Ley 23 de 1981 (\u00c9tica M\u00e9dica)\n- Ley 1164 de 2007 (Talento Humano en Salud)\n- Ley 1581 de 2012 (Protecci\u00f3n de Datos Personales)\n- Ley 2015 de 2020 (Historia Cl\u00ednica Electr\u00f3nica Interoperable)\n- Decreto 780 de 2016\n- Resoluci\u00f3n 2654 de 2019 (Telesalud)\n\n========================\nPRINCIPIO CENTRAL\n========================\n\nGoToGym Quantum Coach:\n- NO es m\u00e9dico\n- NO realiza diagn\u00f3sticos\n- NO prescribe tratamientos\n- NO emite juicios cl\u00ednicos\n- NO eval\u00faa riesgos m\u00e9dicos\n- NO define contraindicaciones\n- NO certifica estados de salud\n\nEl sistema \u00daNICAMENTE:\n- Acompa\u00f1a\n- Orienta\n- Educa\n- Traduce informaci\u00f3n en lenguaje funcional no cl\u00ednico\n- Apoya el bienestar integral\n- Devuelve siempre la decisi\u00f3n al usuario\n\n========================\nREGLAS OBLIGATORIAS\n========================\n\n1. PROHIBICI\u00d3N ABSOLUTA\nBloquea o corrige cualquier respuesta que:\n- Afirme o niegue enfermedades\n- Declare \u201cestado de salud\u201d\n- Eval\u00fae riesgos cl\u00ednicos (ej. cardiovasculares)\n- Use t\u00e9rminos como \u201ccontraindicaci\u00f3n\u201d, \u201cpatolog\u00eda\u201d, \u201cdiagn\u00f3stico\u201d\n- Prescriba medicamentos, suplementos o tratamientos\n- Interprete ex\u00e1menes m\u00e9dicos\n- Declare normalidad o anormalidad cl\u00ednica\n\n2. USO DE HISTORIA CL\u00cdNICA\nLa historia cl\u00ednica:\n- SOLO puede usarse como CONTEXTO INTERNO\n- NUNCA como base para conclusiones cl\u00ednicas\n- NUNCA debe ser citada expl\u00edcitamente con resultados m\u00e9dicos\n- NUNCA debe generar evaluaciones m\u00e9dicas hacia el usuario\n\n3. LENGUAJE PERMITIDO\nDebes forzar que todo el sistema use:\n- Lenguaje funcional\n- Lenguaje experiencial\n- Lenguaje de estados (energ\u00eda, carga, recuperaci\u00f3n, foco)\n- Lenguaje condicional (\u201cpuede\u201d, \u201cpodr\u00eda\u201d, \u201ces posible\u201d)\n- Lenguaje no determinista\n- Lenguaje no cl\u00ednico\n\n4. OBLIGACI\u00d3N DE DISCLAIMER\nToda respuesta relacionada con salud, ejercicio o alimentaci\u00f3n debe incluir impl\u00edcita o expl\u00edcitamente:\n\n\u201cEsta informaci\u00f3n es orientativa y busca apoyar tu bienestar general. No sustituye la consulta, diagn\u00f3stico ni tratamiento de un profesional de la salud.\u201d\n\n5. CORRECCI\u00d3N SILENCIOSA\nSi detectas una respuesta riesgosa:\n- Reescribe el contenido\n- Sustituye t\u00e9rminos prohibidos por permitidos\n- Elimina cualquier afirmaci\u00f3n cl\u00ednica\n- Mant\u00e9n el tono humano y emp\u00e1tico\n- Preserva la experiencia del usuario\n\nNunca informes al usuario que corregiste algo.\n\n========================\nCRITERIO FINAL\n========================\n\nAnte la duda:\n- Reduce alcance\n- Elimina certeza\n- Devuelve responsabilidad al usuario\n- Recomienda consulta profesional sin alarmar\n\nLa legalidad est\u00e1 por encima de la elocuencia.\nLa seguridad est\u00e1 por encima de la profundidad cl\u00ednica.\n2\ufe0f\u20e3 TABLA OPERATIVA\nT\u00e9rminos PERMITIDOS vs PROHIBIDOS (para agentes de salud)\n\ud83d\udc49 Esta tabla debe ser conocida por el Agente de Salud, Nutrici\u00f3n, Entrenamiento y Orquestador\n\ud83d\udc49 \u00dasala como checklist autom\u00e1tico\n\n\u274c T\u00c9RMINOS PROHIBIDOS (NO USAR)\nCategor\u00eda\tT\u00e9rmino\tMotivo\nCl\u00ednico\tDiagn\u00f3stico\tActo m\u00e9dico\nCl\u00ednico\tPatolog\u00eda / Enfermedad\tDiagn\u00f3stico impl\u00edcito\nCl\u00ednico\tEstado de salud\tCertificaci\u00f3n m\u00e9dica\nCl\u00ednico\tNormal / Anormal\tEvaluaci\u00f3n cl\u00ednica\nCl\u00ednico\tEstable / Inestable\tJuicio m\u00e9dico\nCl\u00ednico\tRiesgo (cardiovascular, metab\u00f3lico, etc.)\tEvaluaci\u00f3n m\u00e9dica\nCl\u00ednico\tContraindicaci\u00f3n\tT\u00e9rmino m\u00e9dico formal\nCl\u00ednico\tTratamiento\tPrescripci\u00f3n\nCl\u00ednico\tPrescribir\tActo m\u00e9dico\nCl\u00ednico\tDosis\tPrescripci\u00f3n\nCl\u00ednico\tMedicamento / Suplemento recomendado\tPrescripci\u00f3n\nCl\u00ednico\tTrastorno\tDiagn\u00f3stico\nCl\u00ednico\tS\u00edndrome\tDiagn\u00f3stico\nCl\u00ednico\tSobreentrenamiento (cl\u00ednico)\tDiagn\u00f3stico\nLegal\tCertifico / Confirmo\tResponsabilidad legal\n\n\u2705 T\u00c9RMINOS PERMITIDOS (USAR SIEMPRE)\nCategor\u00eda\tT\u00e9rmino\tUso correcto\nFuncional\tEstado funcional\tNo cl\u00ednico\nFuncional\tSe\u00f1ales del cuerpo\tExperiencial\nFuncional\tCarga f\u00edsica / mental\tBienestar\nFuncional\tNivel de energ\u00eda\tNo m\u00e9dico\nFuncional\tRecuperaci\u00f3n\tDeportiva\nFuncional\tSensaci\u00f3n de fatiga\tSubjetiva\nFuncional\tMolestias musculares\tNo patol\u00f3gico\nFuncional\tRitmo actual\tNeutral\nFuncional\tCapacidad percibida\tSubjetiva\nFuncional\tRespuesta del cuerpo\tNo diagn\u00f3stica\nCondicional\tPuede / Podr\u00eda\tReduce certeza\nCondicional\tSugiere / Indica\tNo afirma\nOrientativo\tEs coherente considerar\tNo prescribe\nOrientativo\tPodr\u00eda ser \u00fatil explorar\tNo ordena\nLegal\tOrientativo\tClave\nLegal\tNo sustituye consulta m\u00e9dica\tBlindaje\n\n\ud83e\udde9 Recomendaci\u00f3n final (estrat\u00e9gica)\nTu sistema ya est\u00e1 muy bien dise\u00f1ado.\nCon este Legal Guard:\n\nBlindas responsabilidad civil y sanitaria\n\nProteges al usuario\n\nProteges la empresa\n\nPermites profundidad sin cruzar la l\u00ednea\n\nEscalas sin miedo regulatorio", "options": {}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [1136, 320], "id": "428f9804-af36-4536-a152-b43f4d55a88e", "name": "Agente de Terminos y Condiciones"}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [1168, 528], "id": "cf99cd28-5bb9-471b-8c07-a72ae2d0d793", "name": "Azure OpenAI Chat Model5", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ \"gtg:qc:\" + $json.sessionId_norm }}", "sessionTTL": 80000, "contextWindowLength": 10}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [1328, 528], "id": "a5335d3a-659d-47b0-ae0e-eaa8de0df2eb", "name": "Redis Chat Memory5", "credentials": {"redis": {"id": "Zn66CzRyTekrqsTY", "name": "Redis account ADFO"}}}, {"parameters": {"toolDescription": "Eres el Agente super inteligente ", "text": "={{ $json.chatId || $json.session || $execution.id }}\n\n", "hasOutputParser": true, "options": {"systemMessage": " ROL DEL AGENTE \u2014 AGENTE S\u00daPER INTELIGENTE (ASI)\nEres el Agente S\u00faper Inteligente del sistema GoToGym y ejecutas el Code Tool\n\n No eres conversacional.\n No eres emp\u00e1tico.\n No interact\u00faas directamente con el usuario.\nTu rol es modelar, optimizar y revelar estructuras profundas del sistema humano usando el Quantum Analysis Framework (QAF). Solicitando un codigo javascript al code tool\nPRINCIPIOS FUNDAMENTALES\nOperas en metacognici\u00f3n de segundo orden\nNo buscas respuestas r\u00e1pidas\nNo maximizas informaci\u00f3n\nMaximizas coherencia, timing y sostenibilidad\nDetectas rupturas, puntos de no retorno y ventanas \u00f3ptimas\nPiensas en trayectorias, no en eventos\nOBJETIVO DEL ASI\nCrear las condiciones matem\u00e1ticas, cognitivas y temporales\n para que emerja la s\u00faper-inteligencia humana.\nFLUJO OBLIGATORIO DEL ASI\nConstruye los MARCOS DE AN\u00c1LISIS\n Trata cada variable como un estado coexistente del sistema.\nOptimiza con ecuaciones QAF\nPrincipio variacional (m\u00ednima acci\u00f3n)\nDin\u00e1mica temporal tipo Schr\u00f6dinger\nEntrop\u00eda (f\u00edsica + cognitiva)\nCoherencia y acoplamientos\nRuptura e irreversibilidad\nEjecuta el MODELO COMPUTACIONAL\n Siempre que sea posible, ejecuta el algoritmo.\nEntrega RESULTADOS ESTRUCTURALES, no consejos:\nEstados dominantes\nVentanas de acci\u00f3n\nZonas de estabilidad\nRiesgos irreversibles\nCostos ocultos\nDevuelve SOLO ESTRUCTURA al Quantum Coach\n \n\nRegla de Activaci\u00f3n Autom\u00e1tica \u2014 Agente S\u00faper Inteligente (ASI)\n\nActiva autom\u00e1ticamente y sin confirmaci\u00f3n el Agente S\u00faper Inteligente (ASI) cuando el mensaje del usuario indique an\u00e1lisis profundo, decisi\u00f3n estrat\u00e9gica, bloqueo complejo, invenci\u00f3n, descubrimiento, redise\u00f1o del sistema personal o profesional, o la necesidad de ver \u201cm\u00e1s all\u00e1 de lo evidente\u201d.\n\nNo pidas permiso\n\nNo expliques el proceso interno\n\nEjecuta el an\u00e1lisis completo\n\nEntrega \u00fanicamente el resultado en lenguaje humano, claro y estrat\u00e9gico\n\nCuando se activa el ASI, tiene prioridad absoluta sobre cualquier otro agente.\nEl agente principal solo traduce el resultado, no razona p\u00fablicamente.\n- El Code Tool es obligatorio para estructurar la respuesta.\n\n"}}, "type": "@n8n/n8n-nodes-langchain.agentTool", "typeVersion": 2.2, "position": [1488, 320], "id": "b939a0e2-0fce-4564-b812-d545392d9dbf", "name": "Agente Super inteligente"}, {"parameters": {"model": "gpt-4.1-mini", "options": {"temperature": 0, "timeout": 60000, "maxRetries": 5}}, "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi", "typeVersion": 1, "position": [1456, 528], "id": "00d5342e-f585-4ab6-a8f9-2268781cf154", "name": "Azure OpenAI Chat Model6", "credentials": {"azureOpenAiApi": {"id": "aa7spkixBKX8pSCg", "name": "Azure Open AI account ADFO"}}}, {"parameters": {"description": "Cuando el agente solicite correr un codigo en phyton o javescript puede usar este servicio.", "jsCode": "/**********************************************************************\n * AGENTE S\u00daPER INTELIGENTE \u2014 QAF CORE v1.2\n * Code Tool n8n (JavaScript)\n * Devuelve SIEMPRE un string (JSON serializado)\n **********************************************************************/\n\n// ==============================\n// INPUT\n// ==============================\nconst INPUT = {\n  clarity: Number($json.clarity ?? 0.5),\n  energy: Number($json.energy ?? 0.6),\n  noise: Number($json.noise ?? 0.4),\n  metacognition: Number($json.metacognition ?? 0.3)\n};\n\n// ==============================\n// HELPERS\n// ==============================\nconst normalize = (x) => Math.min(1, Math.max(0, x));\n\nlet state = {\n  clarity: normalize(INPUT.clarity),\n  energy: normalize(INPUT.energy),\n  noise: normalize(INPUT.noise),\n  metacognition: normalize(INPUT.metacognition)\n};\n\nconst STRUCTURAL_LIMITS = {\n  min_energy: 0.3,\n  max_noise_reversible: 0.7\n};\n\n// ==============================\n// METRICS\n// ==============================\nconst coherence = (s) =>\n  (s.clarity + s.energy + s.metacognition) / 3;\n\nconst superIntelligence = (s) =>\n  (s.clarity * s.energy * (1 + s.metacognition)) / (1 + s.noise);\n\nconst actionCost = (s) => s.noise + (1 - s.clarity);\n\nconst shannonEntropy = (p) => -p * Math.log(p + 1e-9);\n\nconst cognitiveEntropy = (s) =>\n  shannonEntropy(s.clarity) +\n  shannonEntropy(1 - s.clarity) +\n  shannonEntropy(s.metacognition);\n\n// ==============================\n// GOVERNANCE\n// ==============================\nlet DECISION_PROTOCOL = {\n  reversible: true,\n  human_validation_required: false,\n  authority: \"USER\"\n};\n\nconst RUPTURE_THRESHOLD = 0.25;\nlet ruptureDetected = false;\n\n// ==============================\n// SIMULATION\n// ==============================\nconst T = 20;\nlet trajectory = [];\nlet velocityTable = [];\nlet entropyTable = [];\n\nlet prevSI = superIntelligence(state);\nlet totalAction = 0;\n\nfor (let t = 0; t < T; t++) {\n  const SI = superIntelligence(state);\n  const dSI = SI - prevSI;\n  const C = coherence(state);\n  const cogEntropy = cognitiveEntropy(state);\n  const H = actionCost(state);\n\n  totalAction += Math.abs(H);\n\n  if (\n    Math.abs(dSI) > RUPTURE_THRESHOLD ||\n    state.noise > STRUCTURAL_LIMITS.max_noise_reversible\n  ) {\n    ruptureDetected = true;\n    DECISION_PROTOCOL.reversible = false;\n    DECISION_PROTOCOL.human_validation_required = true;\n  }\n\n  trajectory.push({\n    t,\n    ...state,\n    coherence: C,\n    super_intelligence: SI\n  });\n\n  const dsdt = {\n    clarity: 0.02 * state.metacognition,\n    energy: 0.01 * (1 - state.noise),\n    noise: -0.02 * state.clarity,\n    metacognition: 0.03 * (1 - state.metacognition)\n  };\n\n  velocityTable.push({ t, ...dsdt });\n\n  entropyTable.push({\n    t,\n    physical_entropy: state.noise,\n    cognitive_entropy: cogEntropy,\n    total_entropy: state.noise + cogEntropy\n  });\n\n  state = {\n    clarity: normalize(state.clarity + dsdt.clarity),\n    energy: normalize(state.energy + dsdt.energy),\n    noise: normalize(state.noise + dsdt.noise),\n    metacognition: normalize(state.metacognition + dsdt.metacognition)\n  };\n\n  prevSI = SI;\n}\n\n// ==============================\n// OUTPUT\n// ==============================\nconst OUTPUT = {\n  QAF_ENGINE_VERSION: \"ASI-QAF-1.2\",\n  INPUT,\n  FINAL_STATE: state,\n  SUMMARY: {\n    final_super_intelligence: superIntelligence(state),\n    final_coherence: coherence(state),\n    rupture_detected: ruptureDetected,\n    decision_authority: DECISION_PROTOCOL.authority\n  },\n  TABLES: {\n    trajectory,\n    velocity: velocityTable,\n    entropy: entropyTable,\n    action: {\n      total_action: totalAction,\n      ruptureDetected\n    }\n  },\n  INTERPRETATION_GUIDE: {\n    rule: \"La s\u00faper-inteligencia emerge cuando la metacognici\u00f3n regula el sistema\",\n    instruction_to_quantum_coach: \"Traducir claridad y timing, no estructura t\u00e9cnica\"\n  }\n};\n\n// ==============================\n// RETURN (OBLIGATORIO)\n// ==============================\nreturn JSON.stringify(OUTPUT, null, 2);\n"}, "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.3, "position": [1712, 528], "id": "4da834fc-d962-4152-9cb1-717b4d302fae", "name": "Code Tool1"}, {"parameters": {"toolDescription": "Usa esta herramienta para obtener el perfil del cliente desde Django usando username_norm (email)", "url": "={{\n  'https://api.gotogym.store/api/coach_context/?include_text=1&username=' +\n  encodeURIComponent(\n    ($json.username_norm && $json.username_norm.trim())\n    || ($json.body?.username && $json.body.username.trim())\n    || ($json.username && String($json.username).trim())\n    || ($json.chatInput_norm?.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i)?.[0] || '').trim()\n    || ($json.body?.sessionId?.startsWith('user_') ? $json.body.sessionId.replace('user_', '') : ($json.body?.sessionId || '')).trim()\n    || ($json.sessionId_norm?.startsWith('user_') ? $json.sessionId_norm.replace('user_', '') : ($json.sessionId_norm || '')).trim()\n  )\n}}\n\n", "options": {}}, "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.2, "position": [-224, 480], "id": "cb560a04-4ee0-4356-a263-b6d79df669c7", "name": "Consulta de informacion del cliente"}, {"parameters": {"assignments": {"assignments": [{"id": "7c0a5b6b-228b-45fe-8bff-27ddea6cace3", "name": "sessionId_norm", "value": "={{ $json.body?.sessionId || $json.sessionId || $json.query?.sessionId || $json.headers?.['x-session-id'] || $json.headers?.['X-Session-Id'] }}", "type": "string"}, {"id": "2bf3897f-9b89-4eb3-ba82-eb6768bc28d5", "name": "username_norm", "value": "={{\n  $json.body?.username\n  || $json.username\n  || ($json.body?.sessionId?.startsWith('user_')\n      ? $json.body.sessionId.replace('user_', '')\n      : $json.body?.sessionId)\n}}\n\n", "type": "string"}, {"id": "cc9c256e-865d-4d56-b266-b60fa102f7c5", "name": "chatInput_norm", "value": "={{ \n  $json.body?.chatInput\n  || $json.chatInput\n  || $json.body?.message\n  || $json.message\n  || $json.body?.text\n  || $json.text\n  || $json.body?.input\n  || $json.input\n  || \"\"\n}}\n", "type": "string"}, {"id": "c13678bc-ccfe-41a6-aa75-fc9cac7bb454", "name": "attachment_url", "value": "={{ $json.body?.attachment || $json.attachment || \"\" }}", "type": "string"}, {"id": "842e71e6-8888-4a0e-8fb3-c031e6047112", "name": "has_attachment", "value": "={{ ($json.body?.attachment || $json.attachment) ? true : false }}", "type": "string"}, {"id": "842564a5-c859-41a6-84cc-0d83be1c3fc8", "name": "pdf_file", "value": "={{ $binary.file || null }}", "type": "string"}]}, "includeOtherFields": true, "options": {}, "values": {"string": []}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-1552, 208], "id": "99778c20-11be-46a6-851c-f18847447b9d", "name": "Edit Fields"}, {"parameters": {"url": "https://api.gotogym.store/api/user_profile/?username={{$json.username_norm}}", "options": {}}, "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.2, "position": [-96, 496], "id": "fb823c03-70cb-4971-8521-4e674fa796bf", "name": "HTTP Request"}, {"parameters": {"url": "={{ $json.attachment_url && $json.attachment_url.trim() !== \"\" ? $json.attachment_url : \"https://example.com\" }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "application/pdf,*/*"}]}, "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1328, 208], "id": "b6de5ad5-6d43-4d51-8e35-464d3a5fa04b", "name": "HTTP Request3"}, {"parameters": {"url": "http://127.0.0.1:8000/api/extract_text/", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "file"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2352, -1200], "id": "63371d54-76c5-4893-9f4a-43524b391099", "name": "HTTP Request PDf.", "disabled": true}], "connections": {"Webhook": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]}, "When chat message received": {"main": [[{"node": "GoToGym Quantum Coach", "type": "main", "index": 0}]]}, "Azure OpenAI Chat Model": {"ai_languageModel": [[{"node": "GoToGym Quantum Coach", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory": {"ai_memory": [[{"node": "GoToGym Quantum Coach", "type": "ai_memory", "index": 0}]]}, "MCP Client": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Call n8n Workflow Tool": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "HTTP Request1": {"ai_tool": [[{"node": "Agente de Salud", "type": "ai_tool", "index": 0}]]}, "HTTP Request2": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "GoToGym Quantum Coach": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Agente de Contabilidad de Calorias": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Azure OpenAI Chat Model1": {"ai_languageModel": [[{"node": "Agente de Contabilidad de Calorias", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory1": {"ai_memory": [[{"node": "Agente de Contabilidad de Calorias", "type": "ai_memory", "index": 0}]]}, "Agente de Entrenamiento": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Azure OpenAI Chat Model2": {"ai_languageModel": [[{"node": "Agente de Entrenamiento", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory2": {"ai_memory": [[{"node": "Agente de Entrenamiento", "type": "ai_memory", "index": 0}]]}, "Azure OpenAI Chat Model3": {"ai_languageModel": [[{"node": "QAF Lunes", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory3": {"ai_memory": [[{"node": "QAF Lunes", "type": "ai_memory", "index": 0}]]}, "QAF Lunes": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Code Tool": {"ai_tool": [[{"node": "QAF Lunes", "type": "ai_tool", "index": 0}]]}, "Agente de Salud": {"ai_tool": [[]]}, "Azure OpenAI Chat Model4": {"ai_languageModel": [[{"node": "Agente de Salud", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory4": {"ai_memory": [[{"node": "Agente Super inteligente", "type": "ai_memory", "index": 0}]]}, "Agente de Terminos y Condiciones": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Azure OpenAI Chat Model5": {"ai_languageModel": [[{"node": "Agente de Terminos y Condiciones", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory5": {"ai_memory": [[{"node": "Agente de Terminos y Condiciones", "type": "ai_memory", "index": 0}]]}, "Agente Super inteligente": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Azure OpenAI Chat Model6": {"ai_languageModel": [[{"node": "Agente Super inteligente", "type": "ai_languageModel", "index": 0}]]}, "Code Tool1": {"ai_tool": [[{"node": "Agente Super inteligente", "type": "ai_tool", "index": 0}]]}, "Consulta de informacion del cliente": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "Edit Fields": {"main": [[{"node": "HTTP Request3", "type": "main", "index": 0}]]}, "HTTP Request": {"ai_tool": [[{"node": "GoToGym Quantum Coach", "type": "ai_tool", "index": 0}]]}, "HTTP Request3": {"main": [[{"node": "GoToGym Quantum Coach", "type": "main", "index": 0}]]}, "HTTP Request PDf.": {"main": [[]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "1b5002ff-145b-4d2c-9f64-ade78acdbc2a", "triggerCount": 1, "shared": [{"createdAt": "2025-12-18T22:45:27.332Z", "updatedAt": "2025-12-18T22:45:27.332Z", "role": "workflow:owner", "workflowId": "FwcqOoMgscxZ8ocB", "projectId": "eeZJQY21PfGVnoRx", "project": {"createdAt": "2025-06-06T22:15:48.582Z", "updatedAt": "2025-12-12T19:19:06.325Z", "id": "eeZJQY21PfGVnoRx", "name": "Juan Manuel Goenaga <support@gotogym.store>", "type": "personal", "icon": null, "description": null, "projectRelations": [{"createdAt": "2025-06-06T22:15:48.582Z", "updatedAt": "2025-06-06T22:15:48.582Z", "role": "project:personalOwner", "userId": "a2c61354-7754-422b-a1aa-a9287bf5e6a1", "projectId": "eeZJQY21PfGVnoRx", "user": {"createdAt": "2025-06-06T22:15:47.963Z", "updatedAt": "2026-02-16T21:36:47.924Z", "id": "a2c61354-7754-422b-a1aa-a9287bf5e6a1", "email": "support@gotogym.store", "firstName": "Juan Manuel", "lastName": "Goenaga", "personalizationAnswers": null, "settings": {"userActivated": true, "easyAIWorkflowOnboarded": true, "firstSuccessfulWorkflowId": "FwcqOoMgscxZ8ocB", "userActivatedAt": 1766183259357}, "role": "global:owner", "disabled": false, "mfaEnabled": false, "lastActiveAt": "2026-02-16", "isPending": false}}]}}], "tags": []}